$sc: "(max-width: 1540px)";
$lg: "(max-width: 1439px)";
$md: "(max-width: 1023px)";
$sm: "(max-width: 767px)";

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }

    49% {
        transform: rotate(-60deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    20% {
      transform: rotate3d(0, 0, 1, 2deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 2deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes arrow {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    20% {
      transform: rotate3d(0, 0, 1, 2deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 2deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
}

* {
    box-sizing: border-box;
}

html, body, .wrapper {
    min-height: 100vh;
}

body {
    font: 16px $font;
    letter-spacing: 1px;
    line-height: 22px;

    &.overflow {
        overflow: hidden;

        .header, .content {
            display: none;
        }
    }
}

.wrapper {
    display: flex;
}

.content {
    padding: {
        left: 80px;
        right: 80px;
    }
    flex-grow: 1; 

    @include breakpoint($lg){
        padding: {
            left: 20px;
            right: 20px;
        }
    }

    @include breakpoint($sm){
        padding: {
            left: 10px;
            right: 10px;
        }
    }
}

.intro {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: {
        left: -80px;
        right: -80px;
    }

    @include breakpoint($md) {
        margin: {
            left: -20px;
            right: -20px;
        }
    }

    @include breakpoint($sm){
        margin: {
            left: -10px;
            right: -10px;
        }
    }

    &::before {
        content: "";
        width: 600px;
        height: 600px;
        transform: rotate(-300deg);
        background-color: #44d18e;
        position: absolute;
        top: -410px;
        left: -200px;

        @include breakpoint($md) {
            left: -300px;
        }

        @include breakpoint($sm) {
            display: none;
        }
    }

    &__logo {
        height: calc(100% - 160px);
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint($sm) {
            height: calc(100% - 100px);
        }

        &__link {
            display: block;
            width: 424px;
            height: 422px;
            margin-top: 5%;
            animation-name: logo;
            animation-duration: 5s;
            animation-iteration-count: infinite;

            @include breakpoint($lg){
                width: 330px;
                height: 330px;
            }

            @include breakpoint($sm) {
                width: 250px;
                height: 250px;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        position: absolute;
        bottom: 60px;
        left: 80px;
        font: 38px $fontBold;
        max-width: 560px;
        letter-spacing: 4px;
        line-height: 1.4;

        @include breakpoint($md) {
            left: 20px;
        } 

        @include breakpoint($sm) {
            font-size: 24px;
            max-width: 390px;
            bottom: 90px;
            left: 10px;
            line-height: 1;
        }

        a {
            display: inline-block;
            color: $green;
            text-decoration: none;
            padding-top: 15px;
            animation-name: arrow;
            animation-duration: 1s;
            animation-iteration-count: 1;

            @include breakpoint($sm) {
                padding-top: 0;
            }

            &:hover {
                animation-name: swing;
                animation-duration: 1s;
                animation-iteration-count: 1;                 
            }
        }
    }

    & + .header {
        @include breakpoint($sm) {
            margin-top: 0;
        }
    }
}

.sidebar {
    min-width: 455px;
    background-color: #292929;
    position: relative;
    padding: {
        left: 80px;
        right: 80px;
    };

    @include breakpoint($sc) {
        min-width: 400px;
    }

    @include breakpoint($lg) {
        min-width: 275px;
        padding: {
            left: 40px;
            right: 35px;
        }
    }

    @include breakpoint($md) {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -100px;
        transition: all .2s;
    }

    &--opened {
        visibility: visible;
        opacity: 1;
    }

    &__toggle {
        display: none;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 300;
        background: transparent;
        border: 0;
        padding: 0;

        @include breakpoint($md){
            display: block;
        }

        &:focus {
            outline: none;
        }

        $toggle: &;

        &__box {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
        }

        &__inner {
            top: 50%;
            display: block;
            margin-top: -2px;
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: $green;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 40px;
                height: 4px;
                border-radius: 4px;
                background-color: $green;
                transition-duration: 0s;
                transition-delay: 0.1s;
                transition-timing-function: linear;
            }

            &::before {
                transition-property: top, opacity;
                top: -10px;
            }

            &::after {
                bottom: -10px;
                transition-property: bottom, transform;
            }
        }

        &--active {
            #{$toggle}__inner {
                transform: rotate(765deg);
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

                &::before,
                &::after {
                    transition-delay: 0s;
                }

                &::before {
                    top: 0;
                    opacity: 0;
                }

                &::after {
                    bottom: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__layout {
        display: flex;
        flex-direction: column;
        
        > * {
            position: relative;
            z-index: 2;
        }

        &--fixed {
            position: fixed;
            top: -157px;

            @include breakpoint($sm) {
                position: static;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: {
            top: 100px;
        }

        @include breakpoint($md) {
            align-items: center;
            align-self: center;
        }

        @include breakpoint($sm) {
            margin-top: 80px;
        }

        a {
            text-decoration: none;
            font: 20px $font;
            margin-bottom: 15px;
            color: white;

            &:hover {
                color: $green;
            }
        }
    }

    &__langs {
        margin: {
            top: 35px;
        };
        align-self: flex-end;

        @include breakpoint($md) {
            margin: {
                top: 30px;
            };
            align-self: center;
        }

        &__list {
            display: flex;
            justify-content: flex-end;

            @include breakpoint($md) {
                justify-content: center;
            }
        }

        &__item {
            margin-right: 25px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &__link {
            font: 24px $fontBold;
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 1;

            &--active, &:hover {
                color: $green;
            }
        }
    }

    &__menu {
        margin: {
            top: 180px;
        };
        align-self: flex-start;

        @include breakpoint($md){
            margin: {
                left: 0;
                right: 0;
            };
            align-self: center;
        }

        @include breakpoint($sm){
            margin: {
                top: 100px;
            }
        }

        &__item {
            margin-bottom: 24px;

            @include breakpoint($md){
                text-align: center;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__link {
            color: white;
            font: 24px $fontBold;
            letter-spacing: 2px;
            text-decoration: none;

            &--active, &:hover {
                color: $green;
            }
        }
    }

    &__socials {
        margin: {
            top: 35px;
        };
        align-self: flex-start;

        @include breakpoint($md){
            align-self: center;
        }

        @include breakpoint($sm){
            margin: {
                top: 20px; 
            }
        }

        &__list {
            display: flex;
            
            @include breakpoint($md){
                justify-content: center;
            }
        }

        &__item {
            margin-right: 24px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &__link {
            display: block;
            width: 32px;
            height: 32px;
            background: {
                repeat: no-repeat;
                size: 100% 100%;
            }

            &--fb {
                background-image: url(/images/facebook_bg.svg);
            }

            &--in {
                background-image: url(/images/instagram_bg.svg);
            }

            &--tw {
                background-image: url(/images/twitter_bg.svg);
            }

            &:hover {
                mix-blend-mode: soft-light;
            }
        }
    }
}

.header {
    margin-top: 35px;
    
    &__logo {
        &__link {
            font: 18px $fontGT;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-decoration: none;
            color: black;
        }
    }

    &__title {
        font: 30px $fontBold;
        letter-spacing: 4px;
        margin-top: 40px;
        padding-bottom: 24px;
        border-bottom: 3px solid $green;

        @include breakpoint($sm){
            font-size: 24px;
        }

        a:not(.header__title__back) {
            display: inline-block;
            color: #44D18E;
            text-decoration: none;
            animation-name: arrow;
            animation-duration: 1s;
            animation-iteration-count: 1;

            &:hover {
                animation-name: swing;
                animation-duration: 1s;
                animation-iteration-count: 1;
            }
        }

        &__back {
            display: inline-block;
            width: 100px;
            height: 32px;
            position: relative;
            text-decoration: none;
            color: black;
            vertical-align: top;

            &::before, &::after {
                position: absolute;
            }

            &::before {
                content: "<";
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                height: 3px;
                background: black;
                width: calc(100% - 30px);
                right: 0;
                top: 51%; 
                left: 4px;  
            }
        }
    }
}

.services {
    &__item {
        border-bottom: 3px solid $green;
        padding: {
            top: 22px;
            bottom: 22px;
        }

        &:last-of-type {
            border-bottom: 0;
        }

        &__layout {
            display: flex;

            @include breakpoint($sm) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__title {
            width: 40%;
            flex: 0 1 40%;

            @include breakpoint($sm) {
                flex: 0 1 auto;
                width: 100%;
                margin-bottom: 20px;
            }

            a {
                font: 18px $fontBold;
                letter-spacing: 2px;
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__text {
            width: 60%;
            flex: 0 1 60%;

            @include breakpoint($sm) {
                flex: 0 1 auto;
                width: 100%;
                text-align: justify;
            }
        }

        &__more {
            text-align: right;
            margin-top: 16px;
            
            a {
                text-decoration: none; 
                font: bold 15px $fontBold;
                letter-spacing: 2px;
                color: black;
                display: inline-block;
                position: relative;
                padding-right: 60px;
                line-height: 30px;
                animation-name: arrow;
                animation-duration: 1s;
                animation-iteration-count: 1;

                &::before, &::after {
                    position: absolute;
                }
    
                &::before {
                    content: "";
                    background: url(/images/arrow_bg.png) no-repeat;
                    background-size: 100% 100%;
                    width: 40px;
                    height: 15px;
                    right: 8px;
                    transform: translateY(-50%);
                    top: 50%;
                }

                &:hover {
                    color: $green;
                    animation-name: swing;
                    animation-duration: 1s;
                    animation-iteration-count: 1;

                    &::before {
                        background: url(/images/arrow_bg2.png) no-repeat;
                    }
                }
            }
        }
    }
}

.service { // Service page
    padding-top: 24px;

    &__layout {
        display: flex;
        justify-content: space-between;

        @include breakpoint($sm) {
            flex-direction: column-reverse;
        }
    }

    &__description {
        flex: 0 1 65%;
        width: 65%;

        @include breakpoint($sm) {
            flex: 0 1 auto;
            width: 100%;
        }

        strong {
            font-family: $fontBold;
        }

        p {
            margin-bottom: 24px;
        }
    }

    &__price {
        flex: 0 1 25%;
        width: 25%;
        padding-left: 80px;

        @include breakpoint($lg) {
            padding-left: 20px;
        }

        @include breakpoint($sm) {
            flex: 0 1 auto;
            width: 100%;
            padding-left: 0;
        }

        &__title {
            font: 18px $fontBold;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        &__depends {
            font: 12px $font;
            letter-spacing: 0.8px;
            line-height: 1.33;
        }

        &__result {
            margin-top: 30px;
            font: 22px $fontBold;
            text-transform: uppercase;
            color: $green;
            letter-spacing: 1px;

            @include breakpoint($sm) {
                margin-top: 10px;
            }

            > *, p {
                margin-bottom: 20px;
                white-space: nowrap;
            }

            span {
                font: 12px $fontBold;
                color: black;
                margin-right: 10px;
            }
        }
    }
}

.folio {
    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 290px;
        max-height: 290px;
        max-width: 665px;
        margin: 40px auto 80px;
        background: #f5f5f5;

        @include breakpoint($sm) {
            flex-direction: column;
            height: auto;
            max-height: 100%;
            margin: {
                bottom: 20px;
            }
            max-width: 100%;
        }

        &__id {
            color: $green;
            font: 48px $fontBold;
            letter-spacing: 6.4px;
            margin: {
                top: 40px;
                left: 56px;
            }

            @include breakpoint($sm) {
                margin: {
                    left: 20px;
                }
            }
        }

        &__text {
            font: 18px $fontBold;
            letter-spacing: 2px;
            margin: {
                left: 56px;
                top: 15px;
            }
            line-height: 1.33;

            @include breakpoint($sm) {
                margin: {
                    left: 20px;
                }
            }
        }

       &__link {
            display: block;
            width: 440px;
            min-width: 440px;
            flex: 0 1 440px;
            margin: {
                top: 70px;
            }

            @include breakpoint($sm) {
                width: 100%;
                min-width: 0;
                flex: 0 1 auto;
                margin: {
                    top: 20px;
                    left: auto;
                    right: auto;
                }
            }
        }

        &__desc {
            position: relative;
        }

        &__more {
            text-decoration: none; 
            font: bold 15px $fontBold;
            letter-spacing: 2px;
            color: black;
            display: inline-block;
            position: absolute;
            bottom: 20px;
            padding-right: 60px;
            line-height: 30px;
            animation-name: arrow;
            animation-duration: 1s;
            animation-iteration-count: 1;
            margin: {
                left: 56px;
                top: 40px;
            }

            @include breakpoint($sm) {
                margin: {
                    bottom: 20px;
                    left: 20px;
                }
                position: relative;
                bottom: inherit;
            }

            &::before, &::after {
                position: absolute;
            }

            &::before {
                content: "";
                background: url(/images/arrow_bg.png) no-repeat;
                background-size: 100% 100%;
                width: 40px;
                height: 15px;
                right: 8px;
                transform: translateY(-50%);
                top: 50%;
            }

            &:hover {
                animation-name: swing;
                animation-duration: 1s;
                animation-iteration-count: 1;



                &::before {
                    background: url(/images/arrow_bg2.png) no-repeat;
                }
            }
        }

        img {
            max-width: 100%;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        margin: {
            bottom: 50px;
        }
    }
}

.form {
    background: #f5f5f5;
    width: 100%;
    padding: 40px 56px 56px;
    margin-top: 24px;

    @include breakpoint($sm) {
        padding: 25px 10px 25px;
        margin: {
            bottom: 25px;
        }
    }

    &__title {
        max-width: 700px;
        font: 18px $fontBold;
        letter-spacing: 2px; 
        margin-bottom: 30px;
    }

    &__input {
        margin-bottom: 25px;

        [type="text"], [type="email"], [type="tel"], textarea {
            font: 16px $font;
            height: 45px;
            width: 100%;
            border: 0;
            background: transparent;
            border-bottom: 2px solid #d6d6d6;

            @include placeholder {
                font: 16px $font;
            }

            &:focus {
                color: black;
                outline: none;

                @include placeholder {
                    color: transparent;
                }
            }

            &.error {
                border-bottom-color: red;
            }
        }

        textarea {
            resize: none;
            padding-top: 10px;
        }
    }

    &__submit {
        margin-top: 40px;

        @include breakpoint($sm) {
            text-align: center;
        }
    }
}

.map {
    margin: {
        top: 55px;
        bottom: 55px;
    }

    @include breakpoint($sm) {
        margin: {
            top: 0;
            bottom: 20px;
        }
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

.about {
    padding: {
        top: 24px;
        bottom: 55px;
    }

    @include breakpoint($sm) {
        padding: {
            bottom: 10px;
            top: 10px;
        }
    }

    &__content {
        background: #f5f5f5;
        padding: 50px 55px;
        margin-top: 40px;

        @include breakpoint($sm) {
            padding: 20px 10px;
        }
    }

    &__text {
        strong {
            font-family: $fontBold;
        }

        @include breakpoint($sm) {
            text-align: justify;
        }
    }

    &__list {
        &__item {
            margin-bottom: 30px;
            position: relative;
            padding-left: 60px;
            min-height: 40px;
            display: flex;
            align-items: center;

            @include breakpoint($sm) {
                padding-left: 54px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-right: 32px;
            vertical-align: middle;
            position: absolute;
            left: 0;

            @include breakpoint($sm) {
                margin-right: 10px;
            }
        }
    }
}

.error-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    a {
        display: block;
        width: 260px;
        height: 260px;
        overflow: hidden; 
    }

    img {
        max-width: 100%;
        transform: rotate(-60deg);  
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        display: block;

        @include breakpoint($sm) {
            font-size: 23px;
        }
    }
}

.anim {
    background: #292929;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#animCanvas {
    width: 100%;
    height: 100%;
}